name: upload to r2

on:
  workflow_dispatch:
    inputs:
      release_id:
        description: "Release ID"
        type: number
        required: true

jobs:
  push-to-r2:
    permissions:
      contents: read
    runs-on: ubuntu-latest

    steps:
      - name: get release meta
        id: meta
        uses: actions/github-script@v8
        with:
          script: |
            const res = await github.rest.repos.getRelease({
              owner: context.repo.owner,
              repo: context.repo.repo,
              release_id: ${{ inputs.release_id }}
            });

            if (!res || res.status !== 200) {
              console.error("no release found by id:", ${{inputs.release_id}});
              return process.exit(1);
            }

            const release = res.data;

            console.log("found release: ", release);

            const environment = release.tag_name.split("/").at(0);

            if (!environment) {
              console.error("no environment found in tag:", release.tag_name);
              return process.exit(1);
            }

            core.setOutput('environment', environment);
            console.log("setting environment to:", environment);

      - name: download sync script
        run: |
          mkdir bin
          curl -sSL https://github.com/ShaunSHamilton/gh-release-to-r2/releases/latest/download/gh-release-to-r2 -o bin/gh-release-to-r2
          chmod +x bin/gh-release-to-r2
          echo "$PWD/bin" >> $GITHUB_PATH
      - name: run sync bin
        env:
          R2_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          R2_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          R2_BUCKET_NAME: ${{ secrets.R2_BUCKET_NAME }}
          R2_ENDPOINT_URL: ${{ secrets.R2_ENDPOINT }}
          RELEASE_ID: ${{ inputs.release_id }}
        run: gh-release-to-r2 --dest ${{ steps.meta.outputs.environment }} --pattern "latest\.json$"
